@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import '../../assets/shared/css-variable.scss';

.image-gallery-thumbnails {
  overflow-x: scroll;
}
.image-gallery-right-nav {
  font-size: 2em;
  padding: $xs-sp;
}
.image-gallery-left-nav {
  font-size: 2em;
  padding: $xs-sp;
}
.image-gallery-fullscreen-button {
  font-size: 10px;
  &:before {
    padding: 10px 5px;
  }
}
