@import '../../../assets/shared/css-variable.scss';

.container--auth-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  min-height: 70vh;
  background-color: $color-white;
  font-family: $noto-font;
  color: $modal-background-blue;
  position: relative;

  @include for-size(tablet-portrait-up) {
    min-height: 550px;
  }

  .container--main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    @include for-size(tablet-portrait-up) {
      max-width: 300px;
    }
  }

  .title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 2.76px;
    margin-bottom: $s-sp;
    &.step2 {
      margin-bottom: $l-sp;
    }

    @include for-size(tablet-portrait-up) {
      font-size: 28px;
      margin-bottom: 0;
    }
  }

  .container--image {
    &.dialog {
      max-width: 200px;
    }
    &.cuties {
      max-width: 150px;
      margin-bottom: 10px;
      position: relative;
      top: 0;
      animation: move 2s infinite;
      -webkit-animation: move 2s infinite;
    }
    @keyframes move {
      0% {
        top: 0px;
      }

      50% {
        top: -15px;
      }

      100% {
        top: 0px;
      }
    }

    @-webkit-keyframes move {
      0% {
        top: 0px;
      }

      50% {
        top: -15px;
      }

      100% {
        top: 0px;
      }
    }

    @include for-size(tablet-portrait-up) {
      &.dialog {
        max-width: 230px;
      }
    }
  }

  .container--action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    width: 228px;
    height: 47px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: solid 0.9px #979797;
    font-size: 13.5px;
    letter-spacing: 1.5px;
    line-height: 13.5px;
    outline: none;

    .content {
      display: flex;
      align-items: center;
      min-width: 150px;
    }
    @include for-size(tablet-portrait-up) {
      font-size: 14px;
      margin-bottom: 12px;
    }
  }

  .container--prompt {
    font-size: 12px;
    letter-spacing: 1.4px;
    margin-top: $s-sp;
    text-align: center;
    line-height: 1.8;

    .hint {
      color: $shadow-blue;
      outline: none;
      cursor: pointer;
      margin-left: 5px;
    }

    @include for-size(tablet-portrait-up) {
      font-size: 13px;
    }
  }

  .container--icon {
    width: 18px;
    margin-right: 10px;
    font-size: 18px;
  }

  .btn-txt {
    flex-grow: 1;
    text-align: center;
  }
}

.back {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 24px;
  z-index: 10;
  cursor: pointer;
}

.field {
  width: 100%;
  height: 32px;
  border-bottom: solid 1px lightgray;
  line-height: 32px;
  margin-bottom: 15px;

  input {
    height: 27px;
    background-color: transparent;
    border: none;
    width: 100%;
    padding-left: $s-sp;
    color: #808080;

    &:focus {
      outline: none;
    }
  }
}

.btn--sign-in {
  width: 100%;
  height: 47px;
  border-radius: 6px;
  background-color: $shadow-blue;
  border: none;
  color: $color-white;
  letter-spacing: 2px;
  margin-top: $m-sp;
}

.field__err-msg {
  position: relative;
  top: -10px;
  left: 15px;
  color: #ed4747;
  font-size: 14px;
  align-self: start;
}
